node_modules/
dist/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

#使用yarn管理包
package-lock.json

# system ignore
.DS_Store
Thumbs.db

# kdiff3 ignore
*.orig

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp


